body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #fffaf4;
    margin: 0;
}

.container {
    width: 50vw;
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1, h2 {
    color: #333;
    margin-bottom: 20px;
}

.btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

.btn:hover {
    background-color: #0056b3;
}

#timer {
    font-size: 1.2em;
    margin-bottom: 15px;
    color: #555;
}

#progress-info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 1em;
    color: #777;
    gap: 10px;
}

#progress-bar-container {
    background-color: #ddd;
    border-radius: 5px;
    height: 10px;
    width: 100%;
    overflow: hidden;
}

#progress-bar {
    background-color: #007bff;
    height: 100%;
    width: 0;
    border-radius: 5px;
    font-size: 1em;
    margin-bottom: 10px;
    color: #777;
}

#question-number {
    font-weight: bold;
}

#question {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: #333;
}

#options {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 70%;
    margin: 0 auto 20px auto;
}

.option {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    background-color: #eee;
    color: #333;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.option {
    padding: 15px;
    font-size: 1.1em;
    background-color: #f0f8ff;
    border: 2px solid #007bff;
    border-radius: 12px;
    transition: transform 0.2s ease;
}
.option:hover {
    transform: scale(1.05);
}


.correct {
    background-color: #4CAF50;
    color: white;
}

.incorrect {
    background-color: #f44336;
    color: white;
}

.option.correct::after {
    content: '✔';
    color: white;
    margin-left: 10px;
    font-weight: bold;
    float: right;
}

.option.incorrect::after {
    content: '✖';
    color: white;
    margin-left: 10px;
    font-weight: bold;
    float: right;

}


#correct-answers {
    text-align: left;
    margin-top: 20px;
}

#correct-answers p {
    margin-bottom: 5px;
}

@keyframes popInBouncy {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }
    60% {
        transform: scale(1.1);
        opacity: 1;
    }
    80% {
        transform: scale(0.95);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.option.pop {
    animation: popInBouncy 0.3s ease-out forwards; /* Changed animation name and timing function */
}


button:active {
    transform: translateY(2px); /* Move down slightly on press */
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3); /* Smaller shadow when pressed */
}